body {
  font-family: 'Cinzel', serif;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  background-color: #DEDEDE;
}

hr {
  border-style: dotted none none none;
  border-width: 0.313rem;
  width: 3%;
  color: #B2B1B1;
}

h1 {
  font-family: 'Cinzel', serif;
  filter: saturate(100%);
  filter: drop-shadow(0rem 0rem 0.1rem);
  color: #505151;
}

h3 {
  font-family: 'Cinzel', serif;
  font-weight: bolder;
  filter: saturate(80%);
  color: #727373;
}

input:focus {
  outline-style: outset;
  outline-color: #878686;
  outline-width: medium;
}

textarea:focus {
  outline-style: outset;
  outline-color: #878686;
  outline-width: medium;
}
